Here comes the new content of NoM<br />
<br />
We have currently {{ guild|length }} registred guild members:<br />
<br />
<table>
    <tr>
        <td>Name</td>
        <td>Class</td>
        <td>Level</td>
        <td>Rank</td>
    </tr>
{% for member in guild.members %}
<tr>
    <td>{{ member.character.name }}</td>
    <td>{{ member.character.class }}</td>
    <td>{{ member.character.level }}</td>
    <td>{{ member.rank }}</td>
</tr>
{% endfor %}
</table>
